.barsal
{
    height: 40vh;
    background-size: cover;
    background-position: center;
	box-shadow: 8px 8px 8px rgb(31, 30, 30); 
	

}
.main-sales .psale
{
    background-color: whitesmoke;
}

.psal
{
    
    margin: 0.5em 0.5em;
    color: rgb(109, 107, 107);
    font-size: 50px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;

}


.product-rack
{
    display: flex;
    flex-wrap: wrap;
    margin: 0em auto;
    justify-content: center;
    

}




.infos-product
{
    margin-top: 1em;
    color: black;
    text-align: center;
    width: 15em;
    
    
    
    

    .product
    {
        font-weight: bold;

    }
    
}

.link-sales

    {
        font-family: 'Saira Extra Condensed', sans-serif;
        position: relative;
        padding: 1rem;
        font-size: 20px;

        
        
        
    }
.link-sales:hover
{
    text-decoration: none;
}
