h2
{
    
    margin-bottom: 1em;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Abril Fatface', cursive;
}

.search
{
    margin: auto;
    color: white;
    text-align: center;
}

.search-home
{
    background-color: rgb(255, 255, 255);
    width: 56em;
    height: 3em;
    border-radius: 5px;
    box-shadow: 6px 4px 5px 0px black;
}

.form-control
{
    margin: 1em;
    border-radius: 3px;
    color:black;
    background-color: white;
    font-family:'Times New Roman', Times, serif
}

button
{
    
    
    float: right;  
    border-radius: 10px;
    color:rgb(52, 131, 94);
    border: none;
    margin:7px;
    
}